<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Python Blog</title>
    </head>
<body>
    <div>
        <h1>Witaj na stronie Python Blog!</h1>
        <h2>Będzie tu dużo rzeczy o programowaniu.</h2>
        <h3>Autor: Kuba</h3>
        <h4>Wszystkie prawa zastrzeżone.</h4>
    </div>
    <div>
        <p>Akapit powitalny.</p> <br>
        <em>To jest wyróżniony tekst.</em>
        <strong>A tu pogrubiony</strong><br>
        <a href="https://github.com/mrlizard88">GitHub</a>
    </div>
    <div>
        <ul>
            <li>Lista 1</li>
            <li>Lista 2</li>
        </ul>
    </div>

</body>
</html>