h1 a,h2 a {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

body {
background-color: #fff;
font-family: &#8218;Roboto&#8217;, sans-serif;
font-size: 62.5%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: ;

}



.stopka {
    background-color: orange;
	color: silver;
}